.MyInfoCard{
    width: 80%;
    margin-top: 6%;
    padding: 1rem 2rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    color: $main-darkGray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ContactInfo{
        width: 30%;
        background-color: #f0f0f0;
        border-radius: 0.8rem;
        padding: 0.5rem 1rem;

        h1{
            color: $main-darkGray;
            font-size: 1.1rem;
            margin-bottom: 0.4rem;
        }

        .ContactInfo-item{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-self: stretch;
            align-items: center;
            justify-content: flex-start;
            font-size: 0.9rem;
            margin: 0.7rem 0;
            color: $main-darkGray;

            h2{
                font-size: 0.9rem;
                font-weight: bold;
                color: $secondary-blue;
                margin: 0;
                margin-right: 0.3rem;
            }

            h3{
                font-size: 0.9rem;
                font-weight: 500;
                color: $main-darkGray;
            }
        }
    }

    .MyDescription{
        display: flex;
        flex-direction: column;
        width: 65%;
        justify-items: center;

        h1{
            color: $main-darkGray;
            font-size: 1.1rem;
            margin-bottom: 0.4rem;
            margin-top: 1rem;
        }

        p{
            font-size: 1rem;
        }

        .SocialMedia{
            margin-top: 0.7rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .SocialMedia-item{
                width: 3.1rem;
                height: 3.1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                margin: 0 1.5rem;
                background-color: transparent;
                border: 0.15rem solid $secondary-blue;
                transition: all ease-in 0.2s;

                i{
                    margin: 0;
                    font-size: 1.3rem;
                    color: $secondary-blue;
                    transition: all ease-in 0.3s;
                }

                &:hover{
                    border: 0.18rem solid darken($color: $secondary-blue, $amount: 10);
                }
                &:hover i{
                    color: darken($color: $secondary-blue, $amount: 10);
                    transform: scale(1.1);
                }
            }
        }
    }
}