$xl-screen: 1280px;
$lg-screen: 1024px;
$md-screen: 768px;
$sm-screen: 640px;
$xs-screen: 440px;

$main-darkGray: #212121;
$main-titles: #f5f5f5;
$main-subtitles: #E6E6E6;

$secondary-blue: rgb(30 64 175);
$secondary-lightblue: rgb(59 130 246);